APP_ENV=development
SERVER_ADDRESS=:8080
DATABASE_URL=postgres://workbench:workbench@localhost:5432/workbench?sslmode=disable
RESOURCES_DIR=resources
WEB_DIR=web
POSTGRES_DB=workbench
POSTGRES_USER=workbench
POSTGRES_PASSWORD=workbench
POSTGRES_PORT=5432
